[submodule "google-homepage"]
	path = google-homepage
	url = git@github.com:kdbiddle/google-homepage.git
[submodule "javascript_101"]
	path = javascript_101
	url = git@github.com:kdbiddle/javascript_101.git
[submodule "resume"]
	path = resume
	url = git@github.com:kdbiddle/resume.git
[submodule "sketch_pad"]
	path = sketch_pad
	url = git@github.com:kdbiddle/sketch_pad.git
[submodule "projects/google-homepage"]
	path = projects/google-homepage
	url = git@github.com:kdbiddle/google-homepage
[submodule "projects/javascript_101"]
	path = projects/javascript_101
	url = git@github.com:kdbiddle/javascript_101.git
[submodule "projects/resume"]
	path = projects/resume
	url = git@github.com:kdbiddle/resume.git
[submodule "projects/sketch_pad"]
	path = projects/sketch_pad
	url = git@github.com:kdbiddle/sketch_pad.git
