
body {
	font-family: 'Raleway', sans-serif;
	background: url("../images/background-image.jpg");
	background-attachment: fixed;
	background-position: absolute;
	background-repeat: no-repeat;
	background-size: cover;
	display: block;
	overflow-x: hidden;
}

.page-header {
	border: 0;
	margin-left: -5%;
	margin-right: -5%;
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 10%;
	padding-right: 10%;
	background-color:  rgba(0,0,0,0.5);
	color: white;
}

.page-header h1, .page-header h2 {
	margin: 2%;
}

@media (max-width: 500px) {
	body {
		padding-top: 15%;
	}

	.page-header {
		margin-top: -10%;
		margin-bottom: -5%;
		padding-top: 10%;
		padding-bottom: 15%;
	}

}

.headshot {
	max-width: 250px;
	max-height: 250px;
}

.ghostbutton {
	background-color: transparent;
	border: 1px solid white;
	border-radius: 5px;
	margin: 15px;
	width: 150px;
	height: 35px;
	color: white;
}

.ghostbutton:hover {
	background-color: #e6e6e6;
	color: rgba(0,0,0,0.7);
	border: 1px solid rgba(0,0,0,0.7);
}

.services, .portfolio, .about, .contact {
	background-color: #e6e6e6;
	color: #8c8c8c;
	padding: 10%;
	padding-top: 5%;;
	margin: -5%;
}

.portfolio img {
	margin-top: 2%;
	margin-bottom: 2%;
	max-height: 225px;
}

.inprogress {
	color: red;
}

.thumbnail {
	max-height: 600px;
	padding: 5%;

}

#gmaillink, #githublink, #linkedinlink {
	color: #8c8c8c;
	margin: 2%;
}

#gmaillink:hover {
	color: #dd4b39;
	margin: 2%;
}

#githublink:hover {
	color: #000000;
	margin: 2%;
}

#linkedinlink:hover {
	color: #007bb5;
	margin: 2%;
}
