@import url(https://fonts.googleapis.com/css?family=Raleway);

html, body {
	height: 100%;
	font-family: Raleway;
	color: white;
}

body {
	background-image: url(https://images.unsplash.com/photo-1438480478735-3234e63615bb?crop=entropy&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1325);
	background-repeat: no-repeat;
	background-color: black;
	background-attachment: fixed;
	width: 100%;
}

div {
	margin: 5% 15%;
}

.navigation {
	font-size: 20px;
	width: 100%;
	list-style-type: none;
	padding: 10px;
	position: fixed;
	margin-top: -10%;
}

li {
	color: white;
	display: inline;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: 2.5px;
	margin-right: 2.5px;
	margin-top: 10px;
	border: 2px solid white;
	border-radius: 5px;
}

li:hover {
	color: rgb(29, 87, 92);
	background-color: white;
	display: inline;
	padding-left: 15px;
	padding-right: 15px;
	border: 2px solid white;
	border-radius: 5px;
}

.mainheading {
	text-align: center;
	color: white;
	margin-top: 10%;
	padding: 0;
}

.headshot {
	height: 25%;
	width: 25%;
	padding: 5px;
	border: 2px solid white;
	margin-bottom: 25px;
	border-radius: 10%;
}

.ghostbutton {
	background-color: #00000000;
	font-size: 25px;
	padding: 1% 2%;
	margin: 5%;
	border: 2px solid white;
	border-radius: 5px;
}

.ghostbutton:hover {
	color: rgb(29, 87, 92);
	background-color: white;
	font-size: 25px;
	padding: 1% 2%;
	margin: 5%;
	border: 2px solid white;
	border-radius: 5px;
}

.portfolio {
	text-align: center;
	margin-top: 20%;
}

.portfolio img {
	margin-top: 20%;
}

.tile {
	height: 250px;
	width: 250px;
	display: inline-block;
	margin: 5% 2%;
	border-radius: 5px;
}

.tile img {
	height: 66%;
	width: 100%;
	display: relative;
	border-radius: 5px;
}

.about {
	text-align: center;
}

.contact {
	text-align: center;
}

h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

h1:before, h1:after {
  background-color: #ddd;
  content: '';
  flex-grow: 1;
  height: 1px;
  position: relative;
  top: 0.5em;
}

h1:before {
  margin-right:10px;
}

h1:after {
  margin-left:10px;
}

.contactinfo {
	display: inline;
}

.contactinfo img{
	height: 200px;
	width: 200px;
}