
body {
	font-family: 'Raleway', sans-serif;
	color: white;
	background-color: #000;
	background-image: url("https://images.unsplash.com/photo-1436915947297-3a94186c8133?crop=entropy&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1325");
	background-attachment: fixed;
	background-position: absolute;
	background-repeat: no-repeat;
	background-size: cover;
	display: block;
	overflow-x: hidden;
}

.page-header {
	border: 0;
}

@media (max-width: 500px) {
	body {
		padding-top: 15%;
	}
}

.headshot {
	max-width: 250px;
	max-height: 250px;
}

.ghostbutton {
	background-color: transparent;
	border: 1px solid white;
	border-radius: 5px;
	margin: 15px;
	width: 150px;
	height: 35px;
}

.ghostbutton:hover {
	background-color: #9d9d9d;
	color: rgba(0,0,0,0.7);
	border: 1px solid black;
}

.portfolio, .about, .contact {
	background-color: rgb(0,0,0);
	color: #9d9d9d;
	padding: 5%;
	margin: -2%;
}

.portfolio img {
	margin-top: 2%;
}
